.motion_grid{
  float: left;
  
  &:hover{
    background: #65799B;
    opacity: .3;
  }
  
  &.selected{
    background: #555273;
    opacity: .7;

    &:hover{
      opacity: .4;
    }
    &.selecting{
      background: transparent;
    }
  }
  &.selecting{
    background: #65799B;
    opacity: .7;
  }
}